#u353
{
	background-color: #FFFFFF;
}

#u386-6
{
	background-color: transparent;
	color: #2966E2;
	font-size: 48px;
	text-align: center;
	line-height: 82px;
}

#u386-2
{
	letter-spacing: 4px;
}

#u475,#u480
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #2966E2;
	font-size: 45px;
	line-height: 54px;
	position: relative;
}

#u470_align_to_page
{
	position: relative;
}

#menuu354
{
	border-style: none;
	border-color: transparent;
	background-color: #2966E2;
	border-radius: 10px;
	position: relative;
}

#u358
{
	background-color: #2966E2;
	position: relative;
}

#u358:hover
{
	border-color: #000000;
	background-color: #0071BC;
}

#u358:active
{
	border-color: #000000;
	background-color: #2966E2;
}

#u360-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u432
{
	background-color: #2966E2;
	position: relative;
}

#u432:hover
{
	border-color: #000000;
	background-color: #0071BC;
}

#u432:active
{
	border-color: #000000;
	background-color: #2966E2;
}

#u435-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u398
{
	background-color: #2966E2;
	position: relative;
}

#u398:hover
{
	border-color: #000000;
	background-color: #0071BC;
}

#u398:active
{
	border-color: #000000;
	background-color: #2966E2;
}

#u401-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u462
{
	background-color: #2966E2;
	position: relative;
}

#u462:hover
{
	border-color: #000000;
	background-color: #0071BC;
}

#u462:active
{
	border-color: #000000;
	background-color: #2966E2;
}

#u465-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u447
{
	background-color: #2966E2;
	position: relative;
}

#u447:hover
{
	border-color: #000000;
	background-color: #0071BC;
}

#u447:active
{
	border-color: #000000;
	background-color: #2966E2;
}

#u358.MuseMenuActive,#u432.MuseMenuActive,#u398.MuseMenuActive,#u462.MuseMenuActive,#u447.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
	background-color: #2966E2;
}

#u450-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u355,#u431,#u395,#u461,#u446,#u682
{
	background-color: transparent;
	position: relative;
}

#u682_clip
{
	overflow: hidden;
}

#u470,#u468
{
	background-color: #2966E2;
}

#u473-12
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

#u473-5,#u473-7,#u473-10
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u473-4,#u473-6,#u473-9
{
	font-size: 11px;
	line-height: 13px;
}

#u688
{
	background-color: #2966E2;
	opacity: 0.64;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=64)";
	filter: alpha(opacity=64);
}

#u689-8
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	line-height: 36px;
}

#u689-3
{
	font-weight: bold;
}

