.version.past_donations /* version checker */
{
	color: #000001;
	background-color: #1863B2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 922px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#u353,#u353-bw
{
	z-index: 27;
	height: 85px;
}

#u386-6,#u386-6-bw
{
	z-index: 65;
	min-height: 85px;
}

#u475
{
	z-index: 71;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u480
{
	z-index: 72;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 160px;
}

#u470_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu354
{
	z-index: 28;
	width: 907px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 127px;
}

#u355
{
	width: 149px;
	min-height: 50px;
	margin-right: -10000px;
}

#u358
{
	width: 149px;
	padding-bottom: 33px;
}

#u358:hover
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u358:active
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u360-4
{
	width: 149px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u358:hover #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u358:active #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u431
{
	width: 149px;
	min-height: 50px;
	margin-right: -10000px;
	left: 151px;
}

#u432
{
	width: 149px;
	padding-bottom: 33px;
}

#u358.MuseMenuActive,#u432:hover
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u432:active
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u435-4
{
	width: 149px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u358.MuseMenuActive #u360-4,#u432:hover #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u432:active #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u1058
{
	width: 149px;
	min-height: 50px;
	margin-right: -10000px;
	left: 302px;
}

#u1061
{
	width: 149px;
	padding-bottom: 33px;
}

#u432.MuseMenuActive,#u1061:hover
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u1061:active
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u1061.MuseMenuActive
{
	width: 149px;
	min-height: 0px;
	margin: 0px;
}

#u1062-4
{
	width: 149px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u432.MuseMenuActive #u435-4,#u1061:hover #u1062-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u1061:active #u1062-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u1061.MuseMenuActive #u1062-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 149px;
	margin: 0px -10000px 0px 0px;
}

#u1067
{
	width: 150px;
	min-height: 50px;
	margin-right: -10000px;
	left: 453px;
}

#u1068
{
	width: 150px;
	padding-bottom: 33px;
}

#u1068:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u1068:active
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u1070-4
{
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u1068:hover #u1070-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1068:active #u1070-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1075
{
	width: 150px;
	min-height: 50px;
	margin-right: -10000px;
	left: 605px;
}

#u1076
{
	width: 150px;
	padding-bottom: 33px;
}

#u1068.MuseMenuActive,#u1076:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u1076:active
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u1078-4
{
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u1068.MuseMenuActive #u1070-4,#u1076:hover #u1078-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u1076:active #u1078-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u446
{
	width: 150px;
	min-height: 50px;
	margin-right: -10000px;
	left: 757px;
}

#u447
{
	width: 150px;
	padding-bottom: 33px;
}

#u1076.MuseMenuActive,#u447:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u447:active
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u447.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px;
}

#u450-4
{
	width: 150px;
	min-height: 17px;
	margin-right: -10000px;
	top: 16px;
}

#u1076.MuseMenuActive #u1078-4,#u447:hover #u450-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u447:active #u450-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u447.MuseMenuActive #u450-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u470,#u470-bw
{
	z-index: 26;
	min-height: 50px;
}

#pu353,#ptop
{
	width: 0.01px;
	margin-left: -100px;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 569px;
}

#u1370
{
	z-index: 74;
	min-height: 178px;
	background-color: transparent;
	padding-bottom: 21px;
}

#u1370_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1371
{
	z-index: 75;
	width: 565px;
	min-height: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 309px;
}

#u1370-bw
{
	z-index: 74;
	min-height: 178px;
}

#u1373-5
{
	z-index: 76;
	width: 610px;
	min-height: 91px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 291px;
}

#u1373-3
{
	text-align: center;
}

#pu682
{
	width: 0.01px;
	margin-left: -212px;
}

#u682
{
	z-index: 2;
	width: 1362px;
	margin-right: -10000px;
}

#u682_clip
{
	width: 1362px;
	height: 630px;
}

#u682_img
{
	margin-left: -3px;
	margin-right: -10px;
	margin-bottom: -286px;
}

#u468
{
	z-index: 4;
	height: 139px;
}

#u468-bw
{
	z-index: 4;
	margin-top: 492px;
	height: 139px;
}

#u473-12
{
	z-index: 5;
	min-height: 125px;
}

#u473-12-bw
{
	z-index: 5;
	min-height: 125px;
	margin-top: 506px;
}

#u688
{
	z-index: 17;
	height: 84px;
}

#u688-bw
{
	z-index: 17;
	margin-top: 54px;
	height: 84px;
}

#u689-8
{
	z-index: 18;
	min-height: 84px;
}

#u689-8-bw
{
	z-index: 18;
	min-height: 84px;
	margin-top: 42px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

