.version.upcoming_events /* version checker */
{
	color: #00000E;
	background-color: #2EA1CA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 922px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu353
{
	width: 0.01px;
	margin-left: -100px;
}

#u353,#u353-bw
{
	z-index: 27;
	height: 85px;
}

#u386-6,#u386-6-bw
{
	z-index: 59;
	min-height: 85px;
}

#u475
{
	z-index: 65;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 120px;
}

#u480
{
	z-index: 66;
	width: 50px;
	min-height: 50px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 160px;
}

#u470
{
	z-index: 26;
	min-height: 42px;
	padding-bottom: 8px;
}

#u470_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#menuu354
{
	z-index: 28;
	width: 907px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 127px;
}

#u355
{
	width: 179px;
	min-height: 35px;
	margin-right: -10000px;
}

#u358
{
	width: 179px;
	padding-bottom: 18px;
}

#u358:hover
{
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u358:active
{
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u358.MuseMenuActive
{
	width: 179px;
	min-height: 0px;
	margin: 0px;
}

#u360-4
{
	width: 179px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u358:hover #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 179px;
	margin: 0px -10000px 0px 0px;
}

#u358:active #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 179px;
	margin: 0px -10000px 0px 0px;
}

#u358.MuseMenuActive #u360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 179px;
	margin: 0px -10000px 0px 0px;
}

#u431
{
	width: 180px;
	min-height: 35px;
	margin-right: -10000px;
	left: 181px;
}

#u432
{
	width: 180px;
	padding-bottom: 18px;
}

#u432:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u432:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u435-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u432:hover #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u432:active #u435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u395
{
	width: 180px;
	min-height: 35px;
	margin-right: -10000px;
	left: 363px;
}

#u398
{
	width: 180px;
	padding-bottom: 18px;
}

#u432.MuseMenuActive,#u398:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u398:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u401-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u432.MuseMenuActive #u435-4,#u398:hover #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u398:active #u401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u461
{
	width: 180px;
	min-height: 35px;
	margin-right: -10000px;
	left: 545px;
}

#u462
{
	width: 180px;
	padding-bottom: 18px;
}

#u398.MuseMenuActive,#u462:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u462:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u465-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u398.MuseMenuActive #u401-4,#u462:hover #u465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u462:active #u465-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u446
{
	width: 180px;
	min-height: 35px;
	margin-right: -10000px;
	left: 727px;
}

#u447
{
	width: 180px;
	padding-bottom: 18px;
}

#u462.MuseMenuActive,#u447:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u447:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u447.MuseMenuActive
{
	width: 180px;
	min-height: 0px;
	margin: 0px;
}

#u450-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 9px;
}

#u462.MuseMenuActive #u465-4,#u447:hover #u450-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u447:active #u450-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u447.MuseMenuActive #u450-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u470-bw
{
	z-index: 26;
	min-height: 42px;
}

#pu682
{
	width: 0.01px;
	margin-left: -311px;
	margin-top: 157px;
}

#u682
{
	z-index: 2;
	width: 1984px;
	margin-right: -10000px;
}

#u682_clip
{
	width: 1984px;
	height: 630px;
}

#u682_img
{
	margin-left: 96px;
	margin-right: 513px;
	margin-bottom: -286px;
}

#u468
{
	z-index: 4;
	height: 139px;
}

#u468-bw
{
	z-index: 4;
	margin-top: 492px;
	height: 139px;
}

#u473-12
{
	z-index: 5;
	min-height: 125px;
}

#u473-12-bw
{
	z-index: 5;
	min-height: 125px;
	margin-top: 506px;
}

#u688
{
	z-index: 17;
	height: 84px;
}

#u688-bw
{
	z-index: 17;
	margin-top: 226px;
	height: 84px;
}

#u689-8
{
	z-index: 18;
	min-height: 84px;
}

#u689-8-bw
{
	z-index: 18;
	min-height: 84px;
	margin-top: 214px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

