.version.index /* version checker */
{
	color: #000017;
	background-color: #DDF600;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#u1167
{
	z-index: 3;
}

#u1168-4
{
	z-index: 4;
	min-height: 51px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1168-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 51px;
	margin: 0px;
}

#u1168-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
	margin: 0px;
}

#u1169
{
	z-index: 8;
	padding-bottom: 7px;
}

#menuu1170
{
	z-index: 9;
	min-height: 178px;
}

#u1172
{
	min-height: 17px;
	padding-bottom: 26px;
}

#u1172:active
{
	min-height: 17px;
	margin: 0px;
}

#u1175-4
{
	min-height: 17px;
	top: 13px;
}

#u1172:active #u1175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1304
{
	min-height: 17px;
	padding-bottom: 26px;
}

#u1172.MuseMenuActive,#u1304:active
{
	min-height: 17px;
	margin: 0px;
}

#u1306-4
{
	min-height: 17px;
	top: 13px;
}

#u1172.MuseMenuActive #u1175-4,#u1304:active #u1306-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1322
{
	min-height: 17px;
	padding-bottom: 26px;
}

#u1304.MuseMenuActive,#u1322:active
{
	min-height: 17px;
	margin: 0px;
}

#u1323-4
{
	min-height: 17px;
	top: 13px;
}

#u1304.MuseMenuActive #u1306-4,#u1322:active #u1323-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1338
{
	min-height: 17px;
	padding-bottom: 26px;
}

#u1322.MuseMenuActive,#u1338:active
{
	min-height: 17px;
	margin: 0px;
}

#u1338.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u1340-4
{
	min-height: 17px;
	top: 13px;
}

#u1322.MuseMenuActive #u1323-4,#u1338:active #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1338.MuseMenuActive #u1340-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u1303,#u1319,#u1335
{
	margin-top: 2px;
}

#menuu1170-bw
{
	z-index: 9;
	min-height: 178px;
	margin-top: 7px;
}

#accordionu1166,#accordionu1166-bw
{
	z-index: 2;
}

#u1293-14
{
	z-index: 57;
	min-height: 188px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

#u1293,#u1293-3
{
	font-size: 30px;
}

#u1293-7,#u1293-9,#u1293-11
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1293-6,#u1293-8,#u1293-10
{
	font-size: 15px;
	line-height: 18px;
}

#u1293-14-bw
{
	z-index: 57;
	min-height: 188px;
}

#pu1213
{
	width: 0.01px;
	margin-top: 2px;
}

#u1213
{
	z-index: 47;
	width: 380px;
	margin-right: -10000px;
}

#u1216
{
	z-index: 49;
	height: 42px;
}

#u1216-bw
{
	z-index: 49;
	margin-top: 121px;
	height: 42px;
}

#u1217-7
{
	z-index: 50;
	min-height: 42px;
}

#u1217-7-bw
{
	z-index: 50;
	min-height: 42px;
	margin-top: 129px;
}

#page_position_content,#pu1211
{
	width: 0.01px;
}

#u1211,#u1211-bw
{
	z-index: 34;
	height: 110px;
}

#u1212-12,#u1212-12-bw
{
	z-index: 35;
	min-height: 110px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

