#accordionu1554
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u1586-4
{
	border-color: #FFFFFF;
	color: #FFFFFF;
	line-height: 45px;
	font-size: 20px;
	text-align: right;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	background: #2966E2 url("../../images/visualeditor_-_icon_-_menusvg.png") no-repeat right center;
	background-size: contain;
}

#u1586-4:active
{
	border-style: none;
	background: #2966E2 url("../../images/visualeditor_-_icon_-_menusvg.png") no-repeat right center;
	background-size: contain;
}

#u1586-4.AccordionPanelTabOpen
{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px 1px 0px;
	background: #2966E2 url("../../images/multiplication-symbol-icon-0910125830.png") no-repeat right center;
	background-size: contain;
}

#u1586-4.AccordionPanelTabOpen p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-left: 0px;
	padding-right: 83px;
	font-size: 20px;
	text-align: right;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1586-2
{
	padding-right: 83px;
}

#u1556
{
	border-style: none;
	border-color: transparent;
	background-color: #2966E2;
}

#menuu1557
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1580
{
	background-color: #2966E2;
	position: relative;
}

#u1580:active
{
	background-color: #6B6B6B;
}

#u1581-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1566
{
	background-color: #2966E2;
	position: relative;
}

#u1566:active
{
	background-color: #6B6B6B;
}

#u1567-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1559
{
	background-color: #2966E2;
	position: relative;
}

#u1559:active
{
	background-color: #6B6B6B;
}

#u1561-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1555,#u1579,#u1565,#u1558,#u1572
{
	background-color: transparent;
}

#u1573
{
	background-color: #2966E2;
	position: relative;
}

#u1573:active
{
	background-color: #6B6B6B;
}

#u1574-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u1594-4
{
	background-color: transparent;
	color: #2966E2;
	line-height: 37px;
	font-size: 31px;
	text-align: center;
	font-weight: bold;
}

#u1589
{
	background-color: transparent;
	position: relative;
}

#u1580.MuseMenuActive,#u1566.MuseMenuActive,#u1559.MuseMenuActive,#u1573.MuseMenuActive,#u1587
{
	background-color: #2966E2;
}

#u1588-12
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 20px;
	font-size: 17px;
	text-align: center;
}

#u1588-5,#u1588-7,#u1588-10
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1588-4,#u1588-6,#u1588-9
{
	font-size: 13px;
	line-height: 16px;
}

#u1591
{
	background-color: #2966E2;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u1592-7
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 30px;
	font-size: 25px;
	text-align: center;
}

#u1592-2
{
	font-weight: bold;
}

#u1592-4
{
	font-size: 25px;
	color: #FFFFFF;
}

